{
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
  },
  "env": {
    "browser": false,
    "mocha": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "promise"
  ]
}
